@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

body {
	background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
	font-family: "Roboto", sans-serif;
}

.container {
	background: #ecf4ff;
	color: #1c1c1c;
	margin: 64px;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	padding: 64px;
}

.cabecalho {
	display: flex;
	justify-content: space-between;
}

.perfil {
	display: flex;
}

.perfil-foto {
	border-radius: 460px;
	max-height: 160px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.titulo {
	margin-left: 16px;
}

.titulo h1 {
	font-weight: 700;
	font-size: 36px;
}

.titulo h3 {
	font-weight: 400;
	font-size: 24px;
}

.tema button {
	align-self: flex-end;
	font-size: 16px;
	padding: 8px 16px;
	background: #ecf4ff;
	box-sizing: border-box;
	border-radius: 100px;
	border: 2px solid #0e1d2f;
}

.projetos {
	flex-direction: column;
	background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
	box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
	border-radius: 20px;
	margin-top: 30px;
	padding: 32px;
}

.subtitulo {
	font-weight: bold;
	font-size: 30px;
	line-height: 42px;
}

.lista-projetos {
	list-style: none;
	font-weight: 700;
}

.projetos-item {
	list-style-type: none;
	font-size: 22px;
	font-weight: 400;
	line-height: 48px;
}

.projetos-item a {
	color: #1c1c1c;
	text-decoration: none;
}

.dark {
	background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
	background: #333439;
	color: #f6f6f6;
}

.dark .projetos {
	background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
	box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
	border-radius: 20px;
}

.dark .tema button {
	background: #1c1c1c;
	color: #f6f6f6;
	border: 2px solid #f7f7f7;
}